.bg-grey{
	position: absolute;
	bottom: 0px;
	position: fixed;
	background-color: $bg-color-page;
	width: 100%;
	height: 55px;
	box-shadow: 0 0 10px $bg-color-page;

	.input-text-bottom{
		bottom: 10px;
		position: fixed;

		@media screen and (max-width: 768px){
			width: 96%;
			margin-left: 2%;
			margin-right: 2%;;
		}
	}
}

.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.message-girl{
	display: flex;
	flex-direction: row-reverse;
	animation-name: fade;
	animation-duration: 0.4s;
	margin-bottom: 5px;

	@media screen and (min-width: 768px){
	margin-bottom: 20px;
	}
}

.text-girl{
	background-color: $blue;
	color: white;
	margin-left: 60px;
	margin-right: 10px;
	padding: 15px;
	border-radius: 5px;
	border-top-right-radius: 0;
}

.message-myself{
	display: flex;
	margin-bottom: 5px;

	@media screen and (min-width: 768px){
		margin-bottom: 20px;
	}
}

.text-myself{
	background-color: white;
	color: $grey-text;
	margin-right: 60px;
	margin-left: 10px;
	padding: 15px;
	border-radius: 5px;
	border-top-left-radius: 0;
}

.enter-animation{
	animation-name: fade;
	animation-duration: 0.4s;
	margin-bottom: 60px;
}

.bottom-page{
	clear: both;
}

@keyframes fade {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	70% {
		transform: scale(1);
		opacity: 0.4;
	}
	85% {
		transform: scale(0.9);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}