.bg-grey{
	position: absolute;
	bottom: 0px;
	position: fixed;
	background-color: $grey-bg-color-page;
	width: 100%;
	height: 55px;
	box-shadow: 0 0 10px $grey-bg-color-page;

	.input-text-bottom{
		bottom: 10px;
		position: fixed;

		@media screen and (max-width: 768px){
			width: 96%;
			margin-left: 2%;
			margin-right: 2%;;
		}
	}
}

.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.message-girl{
	display: flex;
	flex-direction: row-reverse;
	animation-name: fade;
	animation-duration: 0.4s;
	margin-bottom: 5px;

	@media screen and (min-width: 768px){
	margin-bottom: 20px;
	}
}

.text-girl{
	background-color: $blue;
	color: white;
	margin-left: 60px;
	margin-right: 10px;
	padding: 15px;
	border-radius: 5px;
	border-top-right-radius: 0;
}

.tri-left.rigth-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 65px;
	left: auto;
	top: 0px;
	bottom: auto;
	border: 15px solid;
	border-color: $blue transparent transparent transparent;
	z-index: -1;
}

.message-myself{
	display: flex;
	margin-bottom: 5px;

	@media screen and (min-width: 768px){
		margin-bottom: 20px;
	}
}

.text-myself{
	background-color: white;
	color: $grey-text;
	margin-right: 60px;
	margin-left: 10px;
	padding: 15px;
	border-radius: 5px;
	border-top-left-radius: 0;
}

.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 65px;
	right: auto;
	top: 0px;
	bottom: auto;
	border: 15px solid;
	border-color: white transparent transparent transparent;
	z-index: -1;

}

.green-circle{
	position: absolute;
	background-color: $green;
	top: 35px;
	right: 15px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
}

.enter-animation{
	animation-name: fade;
	animation-duration: 0.4s;
	margin-bottom: 60px;
}

@keyframes fade {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	70% {
		transform: scale(1);
		opacity: 0.4;
	}
	85% {
		transform: scale(0.9);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
