html{
	position: relative;
	min-height: 100%;
}

body{
	margin: 0;
	transition: all 0.5s;
}

a, button, input {
	transition: all 0.5s;
}

header{
	background-color: $grey;
	color: white;
	text-align: center;
	margin-bottom: 30px;

	i{
		position: absolute;
		font-size: 1.5em;
		top: 7px;
		left: 15px;
	}

	h2{
		margin: 0;
		padding: 10px 0;
		font-size: 1.3em;
	}

	@media screen and (min-width: 800px){
		font-size: 1.6em;
	}
}
