.status{
	background-color: $green;
	position: absolute;
	text-align: center;
	color: white;
	border-radius: 50%;
	font-size: 0.7em;
	line-height: 52px;
	width: 50px;
	height: 50px;
	right: 50px;
	top: 80px;

	@media screen and (min-width: 350px){
		right: 60px;
		top: 90px;
	}
	@media screen and (min-width: 426px){
		right: 140px;
		top: 90px;
	}
	@media screen and (min-width: 700px){
		font-size: 1em;
		line-height: 82px;
		width: 80px;
		height: 80px;
		right: 200px;
		top: 90px;
	}
}

.img-profile{
	display: block;
	margin: auto;
	width: 75%;

	@media screen and (min-width: 450px){
		width: 50%;
	}
}

.name-age{
	margin: 0;
	font-size: 1.2em;
	color: $grey;
}

.residence-city{
	color: $pink;
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 7px;
}

.description{
	font-size: 0.9em;
	color: $grey-text;
}

.btn-add-friend{
	position: absolute;
	bottom: 20px;
	left: 5%;
	text-align: center;
	color: white;
	width: 90%;
	font-size: 0.85em;
	border-radius: 0;
	padding-top: 12px;
	padding-bottom: 10px;

	&:hover{
		text-decoration: none;
		color: white;
	}
	&:visited{
		text-decoration: none;
		color: white;
	}
	&:focus{
		text-decoration: none;
		color: white;
	}

	@media screen and (min-width: 450px){
		position: relative;
		margin: 25px;
		bottom: 0;
		left: 0;
		display: block;
		margin-left: 5%;
	}
}

.bg-btn-normal{
	background-color: $grey;
}
.bg-btn-clicked{
	background-color: $green;
}

.bg-body-normal{
	background-color: $bg-color-page;
}
.bg-body-clicked{
	background-color: $pink-bg-color;
}