$grey-bg-color-page: #ececec;
$yellow-bg-color-page: #efffd2;
$pink-bg-color-page: #fbd8e9;
$grey: #3c3c3c;
$grey-text: #656464;
$pink-text: #ef5a8f;
$green: #5aec91;
$brown-btn: #795548;
$grey-btn: #737373;
$blue: #54bae1;