<header class="header">
  <a href="/#/"><i><span class="glyphicon glyphicon-chevron-left"></span></i></a>
  <h2>Sophie</h2>
</header>
<div class="top-space"></div>
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 message-girl">
  <div class="green-circle"></div>
  <a href="/#/"><img src="../../../img/sophie-img-profile.png" alt="sophie-avatar" class="avatar"></a>
  <p class="text-girl tri-left rigth-top">{{randomText}}</p>
</div>
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 message-myself" ng-repeat="message in allMessages" ng-class="{'enter-animation':$last}">
  <a href=""><img src="../../../img/my-img-profile.jpg" alt="myself-avatar" class="avatar"></a>
  <p class="text-myself tri-right left-top">{{message.message}}</p>
</div>
<div class="bg-grey">
  <form ng-submit="submit()" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3  input-group input-text-bottom">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Write a message..." ng-model="myMessage" autofocus required>
      <span class="input-group-btn">
        <button class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>
      </span>
    </div>
  </form>
</div>