<header>
  <h2>Sophie</h2>
</header>
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 message-girl">
  <a href="/#/"><img src="../../../img/img-profile.png" alt="" class="avatar-girl"></a>
  <p class="text-girl">{{randomText}}</p>
</div>
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3  message-me" ng-repeat="message in messages">

</div>
<form ng-submit="submit()" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3  input-group input-bottom">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Write a message..." ng-model="myMessage">
    <span class="input-group-btn">
      <button class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>
    </span>
  </div>
</form>